<ul id="contact_list">
  <li>
    <a href="http://github.com/plusjade">
      <img src="/assets/images/icons/github.gif" alt="Facebook Link">
      Github
    </a>
  </li>
  <li>
    <a href="mailto:plusjade@gmail.com">
     <img src="/assets/images/icons/send.png" alt="Newspaper Icon">
      plusjade@gmail.com
    </a>
  </li>
  <li>
    <a href="http://news.ycombinator.com/user?id=apsurd">
      <img src="/assets/images/icons/hn.gif" alt="Hacker News">
      Hacker News
    </a>
  </li>
  <li>
    <a href="http://twitter.com/plusjade">
      <img src="/assets/images/icons/twitter.png" alt="Twitter Link">
      Twitter
    </a>
  </li>
</ul>