<div id="custom_sidebar">
  
  <img src="https://secure.gravatar.com/avatar/b835c3656fab4a9241d6b7f983d6fce3?s=140" alt="self" id="me">
  
  <h5>Jade Dominguez</h5>
  <p>
    Hello! I'm a 26 year old, degree-less, self-learned software developer
    from SoCal, USA. I believe software and information should be <strong>Open and Free</strong>.
	</p>

	<h5>Purpose</h5>
	<p>
		The purpose of this website is to share code, knowldedge, and happiness.
		Credit to Derek Siver's who wrote an excellent post on the benefits of <a href="http://sivers.org/sharing">sharing</a>.
	</p>
	<h5>Contact</h5>
	
  <ul id="contact_list">
    <li>
      <a href="http://github.com/plusjade">
        <img src="/assets/images/icons/github.gif" alt="Facebook Link">
        Github
      </a>
    </li>
    <li>
      <a href="mailto:plusjade@gmail.com">
       <img src="/assets/images/icons/send.png" alt="Newspaper Icon">
        plusjade@gmail.com
      </a>
    </li>
    <li>
      <a href="http://news.ycombinator.com/user?id=apsurd">
        <img src="/assets/images/icons/hn.gif" alt="Hacker News">
        Hacker News
      </a>
    </li>
    <li>
      <a href="http://twitter.com/plusjade">
        <img src="/assets/images/icons/twitter.png" alt="Twitter Link">
        Twitter
      </a>
    </li>
  </ul>

</div>
