<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <link href="{{ theme_asset_path }}/css/bootstrap-1.4.0-min.css" rel="stylesheet" type="text/css" media="all">
  	<link href="{{ theme_asset_path }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
  	
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include helpers/pages_list.html %}
          </ul>
          
          <form action="" class="pull-right" style="display:none">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        
        <div class="page-header">
          <h1>{{ page.title }} {% if page.tagline %}<small>{{ page.tagline }}</small>{% endif %}</h1>
        </div>
        
        <div class="row">
          
          <div class="span10">
            {{content}}
          </div>
          
          <div class="span4">
            
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; {{ site.author.name }} 2012</p>
      </footer>

    </div> <!-- /container -->

    <div id="custom_sidebar">
      
      <img src="https://secure.gravatar.com/avatar/b835c3656fab4a9241d6b7f983d6fce3?s=140" alt="self" id="me">
      
      <h5>Jade Dominguez</h5>
      <p>
        Hello! I'm a 26 year old self-learned software developer with no post-secondary education
        from SoCal-USA. All my projects current and future will be <strong>Open and Free</strong>.
  		</p>
  		<h5>Purpose</h5>
  		<p>
  			The purpose of this website is to share code, knowldedge, and happiness.
  			Credit to Derek Siver's who wrote an excellent post on the benefits of <a href="http://sivers.org/sharing">sharing</a>.
  		</p>
  		<h5>Contact</h5>
  		{% include contact.html %}
    </div>
    
  </body>
</html>
