<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

<div class="row">
  <div class="span14">
    <ul class="media-grid">
      {% for node in site.pages %}{% if node.group == "projects" %}
        {% if page.url == node.url %}
        <li class="active"><a href="{{node.url}}" class="btn success large">{{node.title}}</a></li>
        {% else %}
        <li><a href="{{node.url}}" class="btn large">{{node.title}}</a></li>
        {% endif %}
      {% endif %}{% endfor %}
    </ul>

  {% if page.project %}  
    <p class="alert-message block-message warning" style="width:350px; float:left; margin-right:20px">
      {{ page.project.tagline }}
    </p>
    <p style="float:right">
      <h5>Website &rarr; <a href="{{page.project.website}}">{{page.project.website}}</a></h5>
      <h5>Source &rarr; <a href="{{page.project.source}}">{{page.project.source}}</a></h5>
    </p>
  {% endif %}  

  </div>
</div>

<div class="row">
  <div class="span12">
  {% if page.project %}
    <h2>Stack</h2>
    <table class="project-tags">
      <thead>
        <tr>
          <th>&#160;</th>
          <th>Hover over components used in this project to learn more.</th>
        </tr>
      </thead>
      <tbody>
      {% for tagGroup in page.project.tagGroups %}
        <tr>
          <td class="tag-group">{{ tagGroup.name }}</td>
          <td><ul>
          {% for tag in tagGroup.tags %}
            <li><a href="#" rel='popover' title="Why?" data-content="{{ tag.why }}">{{ tag.name }}</a></li>
          {% endfor %}
          </ul></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %} 
   
    {{ content }}
  </div>
</div>